/**
 * :::::: Hide Text
 */
@mixin hide-text () {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}

/**
 * ::::::: Show Responsive
 */
.show-mobile {
  display: block;
  @media (min-width: 768px) {
    display: none;
  }
}

.show-web {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}

/**
 * ::::::: Media
 */
@mixin m360  { @media (min-width: 359px)  { @content; } }
@mixin m450  { @media (min-width: 449px)  { @content; } }
@mixin m576  { @media (min-width: 575px)  { @content; } }
@mixin m600  { @media (min-width: 599px)  { @content; } }
@mixin m768  { @media (min-width: 767px)  { @content; } }
@mixin m900  { @media (min-width: 889px)  { @content; } }
@mixin m992  { @media (min-width: 991px)  { @content; } }
@mixin m1200 { @media (min-width: 1199px) { @content; } }
@mixin m1400 { @media (min-width: 1399px) { @content; } }
@mixin m1800 { @media (min-width: 1799px) { @content; } }
@mixin m2200 { @media (min-width: 2199px) { @content; } }
