/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  Colors
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */
/* */
$color_black      : #000000;
$color_white      : #FFFFFF;

$color_red        : #EE4863;
$color_yellow     : #FFD200;
$color_green      : #92BA14;
$color_blue       : #007DB1;
$color_purple     : #880267;
$color_orange     : #FF7900;
$color_cyan       : #009EE0;

$color_grey_light : #E9E9E9;
$color_grey_medium: #7E868C;
$color_grey_dark  : #333E47;


/**
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 * ·······  General
 * ░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░░
 */
body,
html {
  height: 100%;
}

body {
  background              : white;
  color                   : $color_black;
  font-size               : 16px;

  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  -webkit-font-smoothing  : antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust    : 100%;
}
